body{
    font-family: 'Poppins',sans-serif;
    margin:0;
    padding:0;
    background: url('../images/3156233-Photoroom\ \(1\).png') no-repeat center center fixed;
    background-size: cover;
}
header{
   display:flex;
   justify-content:space-between;
    align-items:center;
    background: white; 
    padding: 15px 30px;
    box-shadow: 0px 2px 5px white;
    background: url('../images/3156233-Photoroom\ \(1\).png') no-repeat center center fixed;
    background-size: cover;
}
.logo{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color:white;
}
button{ 
    background-color: #6c5ce7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor:pointer;
    font-size: 25px;
}
.logout-btn{
    background-color: #6c5ce7;
}
.card-container{
    display:grid;
    grid-template-columns: repeat(300px,1fr);
    gap:15px;
    padding:20px;
    font-size: 25px;
}
.card{
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px white;
    text-align:center;
    color:white;
}
.highlighted{
    border: 2px solid #6c5ce7;
}
.study-plan{
    border-radius: 10px;
    padding: 20px;
    margin:10px; 
    width: 297%;
    text-align: left;
    color:white;
    box-shadow: 0px 2px 5px white;
    
}
.card-highlighted{
    padding: 20px;
    border-radius: 10px;
    box-shadow:0px 2px 5px white;
    text-align:center; 
    font-size: 25px;
    color:white;
}
.task{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 5px 5px white;
    gap: 15px;
}
.task input[type="checkbox"] {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.task div {
    flex-grow: 1;
    text-align: left;
}
.task .time {
    padding: 5px 10px;
    border-radius: 5px;
}

.high { background: red; color: white; }
.medium { background: orange; color: white; }

.heading{
    color:white;
}
a{
    text-decoration: none;
    color:white;
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .study-plan {
        width: 100%;
        padding: 15px;
    }

    .task {
        flex-direction: column;
        align-items: flex-start;
    }
}
