body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-size: cover;
    overflow: hidden;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
  .Login-Containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .Login-box {
    background: #e3ddff;
    border-radius: 15px;
    padding: 30px;
    width: 450px;
    text-align: center;
    border: 1px solid #d3d1f4;
    box-shadow:  0 4px 12px rgba(110, 102, 203, 0.25);
    
  }
  
  .signin-text {
    color: #800080;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
.input-group input {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #bfbdf0;
  border-radius: 8px;
  background: white;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #d8b4f8;
}

.input-group input::placeholder {
  color: #999;
  font-size: 15px;
}

.terms {
  color: #555;
  margin-bottom: 20px;
  font-size: 14px;
}

.Login {
  background-color:#800080;
  color: white;
  padding: 12px;
  width: 50%;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(110, 102, 203, 0.3);
}

.Login:hover {
  background-color: #868cfe;
  transform: scale(1.05);
}

.Login:active {
  transform: scale(0.95);
}