body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/3156233-Photoroom\ \(1\).png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 5px white;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

button {
    background-color: #6c5ce7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.upload-section {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    width: 50%;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
}

.upload-section input {
    margin: 10px 0;
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    border: none;
}

.questions {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
}

.category {
    width: 30%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 2px 5px white;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: rgba(255, 255, 255, 0.2);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
#fileInput {
    font-size: 18px; 
    padding: 10px; 
    width: 100%; 
    max-width: 300px;
    border-radius: 10px;
}
